<div>
	New Page Here!
	{{model.bob}}
	<br/>
	{{input type="text" value=model.safetyreportid placeholder='yo here '}}<button {{action 'alterbob'}}>Contract</button>
	<ul>
	  {{#each model as |accountlist|}}
	    <li>{{accountlist.safetyreportid}}</li>
	  {{/each}}

	</ul>
</div>