<div class="col-sm-3 col-md-2 sidebar">

  <ul class="nav nav-sidebar">
    <li >{{#link-to 'drug.list'}}Drug Search{{/link-to}}</li>
    <li>{{#link-to 'eventsearch.list'}}Event Trends{{/link-to}}</li>
	<li>{{#link-to 'foodsearch.list'}}Food Search{{/link-to}}</li>
	<li>{{#link-to 'help.list'}}Help{{/link-to}}</li>
  </ul>
       
</div>
<div class="col-sm-9 col-md-9 main"> 
  	
	{{outlet}}
	{{outlet 'welcome'}}
<div id="menu">
	<ul id="x-axis-menu"></ul>
</div>

<div id="chart"></div>

</div>
 






