<h2 class="page-header">Drug Search</h2>
<p>
The following form allows you to search for a drug by brand name.  Click the link in the search results to see the adverse events.

</p>

<form class="form-inline">
{{view "select" classNames="form-control"  content=names}}
 {{input type="text" classNames="form-control" value=searchTerm placeholder='Brand Name'}}
 <button class="form-control" {{action 'findFromDrugs'}}>Search</button>
</form>
{{outlet}}
<div class="fixed-table">
	<table class="table  table-striped">
		<thead>
			<tr>
				<th>product ndc</th><th>brand name</th><th>generic name</th><th>substance name</th><th>manufacture name</th><th>adverse events</th>
			</tr>

		</thead>
		<tbody>

			{{#each model.outputlist as |val|}}
				<tr>
				    <td>
						{{#each val.product_ndc as |val1|}}
				    		{{#link-to 'event.list'  (query-params ndc_code=val1) }}{{val1}}{{/link-to}}
				    	{{/each}}
				    </td>
					<td>{{val.brand_name}}</td>
				    <td>{{val.generic_name}}</td>
				    <td>{{val.substance_name}}</td>
				    <td>{{val.manufacturer_name}}</td>
				</tr>
			{{/each}}


		</tbody>
	</table>
</div>