<div>
	<h2>Adverse Reactions</h2>
	{{#each model.data as |val|}}
	<div>
			<label>Safety Report Id:</label>{{val.safetyreportid}}<br/>
			{{#each val.patient.reaction as |react|}}
				<li>{{react.reactionmeddrapt}}</li>
			{{/each}}		
	</div>
	{{/each}}
	
</div>
