<h2>Event Trends</h2>
<div>
<p>This is the vent trend search.  Step #1 is to determine which field you want to search in.  Step #2 to specifiy your search term.  
Step #3 will be to choose the count query.</p>
	<form class="form-inline">
  		<div class="form-group">
  			<label>Search:</label>
    		{{view "select" classNames="form-control"  
    			content=searchNames 
    			value=selectedSearchName
				optionValuePath="content.id"
       			optionLabelPath="content.label"
    		}}
    		{{input type="text" classNames="form-control" value=searchTerm placeholder='Search'}}<br/>
    		<label>Count:</label>
    		{{view "select" classNames="form-control"  
    			content=countNames 
    			value=selectedCountName
    			optionValuePath="content.id"
       			optionLabelPath="content.label" }}
    		<button class="form-control" {{action 'findFromEvents'}}>Search</button>
  		</div>
	</form>

	{{d3js-render dataContent=model.data }}
	
	<div class="fixed-table" style="display:none;" >
		<table id="example" class="table table-striped">
		<thead>
			<tr>
				<th>Count</th><th>Term</th>
			</tr>
		</thead>
			<tbody>
				{{#each model.data as |accountlist|}}
					<tr>
					    <td>{{accountlist.count}}</td><td> {{accountlist.term}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
