<h2 class="page-header">Food Search</h2>
<p>
The following form allows you to search for food regulated by the FDA.  This allows you to search by manufacturer and see any recalls or current information about this manufacturer.

</p>

<form class="form-inline">
 {{input type="text" classNames="form-control" value=searchTerm placeholder='Recalling Firm'}}
 <button class="form-control" {{action 'findFromFood'}}>Search</button>
</form>

{{outlet}}


<div class="fixed-table">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Status</th><th>Recalling Firm</th><th>Product Type</th><th>Product Description</th><th>Reason For Recall</th>
		</tr>
	</thead>
	<tbody>
		{{#each model.outputlist as |val|}}
				<tr>
				    <td>
						{{val.status}}
				    </td>
					<td>{{val.recalling_firm}}</td>
				    <td>{{val.product_type}}</td>
				    <td>{{val.product_description}}</td>
				    <td>{{val.reason_for_recall}}</td>
				</tr>
			{{/each}}
	</tbody>

	</table>
</div>