<h2>Help</h2>
<p>This site is design to search the open.fda.gov data and expose a much improved user interface experience while consuming the data.</p>

<p>There main areas of the website exist</p>

<p><strong>Drug Search:</strong><br/>
The drug search allows the user to search any drug in the FDA system by brand name.  The results give basic information about that drug including the product ndc, brand name, generic name, substance name, manufacture name.   The link can be clicked to see the adverse events for that drug.

</p>


<p><strong>Event Trends:</strong><br/>
The event trends show bar graphs associated with the counts of adverse events associated with drugs in the system. 
</p>
<ul>
	<li>Step 1: choose the search field to find key information</li>
	<li>Step 2: enter the term for your chosen search field</li>
	<li>Step 3: choose the count query to show the aggregate counts for the top 10 adverse events.</li>
</ul>

<p>
<strong>Food Search:</strong><br/>
The food search allows for searching for a manufacturer to find all recalls associated.  We envision this to be used by moms to research a manufacturer before purchasing food or baby items for their children.
</p>
  {{outlet}}